<h1> Administradores </h1>
 <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Email</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @administrador.each do |administrador| %>
        <tr>
          <td><%= administrador.nome %></td>
          <td><%= administrador.email %></td>
          <td><%= link_to "Show", administrador %></td>
        </tr>
     <%end%>
   </tbody>
</table>
