<p id="notice"><%= notice %></p>

<p>
  <strong>Obs:</strong>
  <%= @distribuicao.obs %>
</p>

<%= link_to 'Edit', edit_distribuicao_path(@distribuicao) %> |
<%= link_to 'Back', distribuicaos_path %>
