<h1><center> Sistema de Gestao Alimentar </center></h1><p>

<header>
  <div>
    <nav>
      <ul>
        <% if logged_in? %>  
            <ul>
	      <div align="left">
              <li><%= link_to "Inicio", current_administrador %></li>
              <li><%= link_to "Editar Perfil", edit_administrador_path(current_administrador) %></li>
              <li>
                <%= link_to "Sair", sign_out_path, method: "delete" %>
              </li>
	      </div>
            </ul>
        <% else %>
         
        <% end %>
      </ul>
    </nav>
  </div>
</header>
